<a href="https://colab.research.google.com/github/ViniiCh4g4s/AnimaCursoExtensaoPython2023-1/blob/main/aula2-2023-02-07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

In [7]:
# Visualiza dataframe
#
print(combustiveis_df.head(2))

  Regiao - Sigla Estado - Sigla  Municipio               Revenda  \
0             NE             AL  ARAPIRACA  POSTO ARAPIRACA LTDA
1             NE             AL  ARAPIRACA  POSTO ARAPIRACA LTDA

       CNPJ da Revenda     Nome da Rua Numero Rua Complemento       Bairro  \
0   12.451.076/0004-65  RODOVIA AL 220        105       KM 68  CANAFISTULA
1   12.451.076/0004-65  RODOVIA AL 220        105       KM 68  CANAFISTULA

         Cep   Produto Data da Coleta  Valor de Venda  Valor de Compra  \
0  57302-605  GASOLINA     2021-11-01           6.799              NaN
1  57302-605    ETANOL     2021-11-01           5.299              NaN

  Unidade de Medida       Bandeira
0        R$ / litro  VIBRA ENERGIA
1        R$ / litro  VIBRA ENERGIA

In [8]:
# Mostra cabecalho com 2 linhas
#

display(combustiveis_df.head(2))

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA

In [13]:
# Exibe quantidade de linhas e colunas
print(combustiveis_df.shape)


# Somente linhas
print(combustiveis_df.shape[0])

(168409, 16)
168409

In [14]:
# Descreve colunas e tipo
print(combustiveis_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
dtypes: datetime64[ns](1), float64(2), object(13)
memory usage: 20.6+ MB
None

In [15]:
# Exibe estastísticas

print(combustiveis_df.describe())

       Valor de Venda  Valor de Compra
count   168409.000000              0.0
mean         6.005184              NaN
std          0.794541              NaN
min          2.849000              NaN
25%          5.339000              NaN
50%          5.859000              NaN
75%          6.699000              NaN
max          8.990000              NaN

In [18]:
# Busca coluna
print(combustiveis_df['Revenda'].tail(10))

168399    VICMAR COMERCIO DE COMBUSTIVEIS E LUBRIFICANTE...
168400    VICMAR COMERCIO DE COMBUSTIVEIS E LUBRIFICANTE...
168401    VICMAR COMERCIO DE COMBUSTIVEIS E LUBRIFICANTE...
168402           COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA
168403           COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA
168404           COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA
168405                    ABC DISTRIBUICAO DE PETROLEO LTDA
168406                    ABC DISTRIBUICAO DE PETROLEO LTDA
168407                    ABC DISTRIBUICAO DE PETROLEO LTDA
168408                    ABC DISTRIBUICAO DE PETROLEO LTDA
Name: Revenda, dtype: object

In [33]:
# Filtro no Dataframe
ca_df = combustiveis_df[['Estado - Sigla', 'Municipio', 'Revenda', 'Produto', 'Valor de Venda']]

display(ca_df.head(10))

,Estado - Sigla,Municipio,Revenda,Produto,Valor de Venda
0,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,GASOLINA,6.799
1,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,ETANOL,5.299
2,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,DIESEL,5.549
3,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,GASOLINA ADITIVADA,6.899
4,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,DIESEL S10,5.649
5,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,GASOLINA,7.198
6,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,ETANOL,5.982
7,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,DIESEL,5.974
8,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,GASOLINA ADITIVADA,7.208
9,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,DIESEL S10,5.983

In [32]:
# Mostra linhas 4 a 9
display(ca_df.loc[4:9])

,Estado - Sigla,Municipio,Revenda,Valor de Venda
4,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,5.649
5,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,7.198
6,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,5.982
7,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,5.974
8,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,7.208
9,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,5.983

In [46]:
# Filtra por tipo de combustível e mostra estatísticas
gas_df = ca_df.loc[ca_df['Produto'] == 'GASOLINA']

display(gas_df.describe())

# Mostrar o local da gasolina mais barata
print("Gasolina com o maior valor")
display(gas_df.max())

# Mostrar o local da gasolina mais cara
print("\nGasolina com menor valor")
display(gas_df.min())

       Valor de Venda
count    42209.000000
mean         6.708741
std          0.369224
min          5.259000
25%          6.399000
50%          6.690000
75%          6.990000
max          7.999000

Gasolina com o maior valor

Estado - Sigla                           TO
Municipio                           XANXERE
Revenda           ZV POSTO DE SERVIÇO LTDA.
Produto                            GASOLINA
Valor de Venda                        7.999
dtype: object

Gasolina com menor valor

Estado - Sigla                                   AC
Municipio                                ABAETETUBA
Revenda            AUTO POSTO FERNANDO FALCÃO LTDA.
Produto                                    GASOLINA
Valor de Venda                                5.259
dtype: object